.card {
  width: 276px;
  height: 424px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.imageWrapper {
position: relative;
 border-radius: 14px;
width: 276px;
height: 268px;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none; 
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.favorite:hover {
  transform: scale(1.1);
}

.favorite svg {
  width: 16px;
  height: 16px;
  transition: all 0.2s ease;
  color: #ffffff; 
}

.favorite.active svg {
  color: #3470ff; 
}

.info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.infoCar{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 8px;
}

.text {
font-weight: 500;
font-size: 16px;
line-height: 1.25;
}

.model {
  color: #3470ff;
}

.infoRow {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #8d929a;
  margin-bottom: 28px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 8px; 
  white-space: nowrap; 
}

.divider {
  width: 1px;
  height: 14px;
  background-color: #8d929a;
}

.readMore {
  width: 100%;            
  height: 44px;
  padding: 12px 0;        
  text-align: center;     
  border-radius: 12px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  display: flex;
justify-content: center;
align-items: center;
transition: all 0.2s ease;
}

.readMore:hover {
  background-color: #0b44cd;
}
