.filters {
  width: 100%;
  display: flex;
  justify-content: center;   
  align-items: flex-end;        
  gap: 16px;                 
  margin-bottom: 56px;
  flex-wrap: nowrap;         
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.fieldBrand{
  width: 204px;
}
.fieldPrice {
  width: 196px;
}

.fieldMileage {
  width: 320px;
}

.customDropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.selected {
  height: 44px;
  padding: 12px 16px;
  border-radius: 12px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-left: 2px solid #101828;
  border-bottom: 2px solid #101828;
  transform: rotate(-45deg);
  transition: 0.2s ease;
  margin-left: 8px;
}

.arrow.open {
  transform: rotate(135deg);
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 272px;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.02);
  background: #fff;
  padding: 14px 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}

.dropdownList::-webkit-scrollbar {
  width: 8px;
}

.dropdownList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dadde1;
}

.dropdownItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  cursor: pointer;
}

.dropdownItem:hover {
  color: #101828;
}

.mileageGroup {
  display: flex;
  height: 44px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.mileageField {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.mileageInput {
  width: 100%;
  height: 100%;
  padding-left: 55px; 
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #101828; 
  background-color: transparent; 
  border: none;
  outline: none;
}

.placeholder {
  position: absolute;
  left: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #101828; 
  pointer-events: none; 
}

/* Лінія між полями */
.mileageField + .mileageField {
  border-left: 1px solid #ccc;
}

/* Радіуси */
.mileageField:first-child .mileageInput {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.mileageField:last-child .mileageInput {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.mileageInput::-webkit-inner-spin-button,
.mileageInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttons {
  width: 156px;
  height: 44px;
  padding: 12px 51px;
  border-radius: 12px;
  background-color: #3470ff;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.2s ease;
}

.buttons:hover {
  background-color: #0b44cd;
}
