:root {
  --background: #ffffff;
  --foreground: #101828; 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--font-family); 
  color: var(--foreground);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h2
{
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.font-second {
  font-family: var(--second-family);
}
