.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 436px 329px 60px 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
  min-height: calc(100vh - 68px);
  background-image: image-set(
    url("/fonorigin.webp") 1x,
    url("/fon@2x.webp") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wraper {
  width: 783px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: left;
  color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 276px;
  height: 44px;
  padding: 12px 88px;
  border: 1px solid #3470ff;
  border-radius: 12px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #0b44cd;
}
