.header {
  width: 1440px;
  border-bottom: 1px solid #f2f4f7;
  background-color: #f2f4f7;
  display: flex;
  padding: 24px 120px;
  margin: 0 auto; 
}

.container {
  display: flex;
  justify-content: space-between;
 width: 100%;
 }

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  transition: color 0.2s ease;
}

.item a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: #0b44cd;
}
