.content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding: 84px 120px 104px;
}

/* Зображення та Форма зліва */
.leftColumn {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.leftColumn .image {
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.leftColumn .image img {
  width: 100%;
  height: 512px;
  border-radius: 19px;
  object-fit: cover;
}

/* Все інше з права */
.rightColumn {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.carHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.carTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin: 0;
}

.code {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
  margin: 0;
}

.wrapperAdressMileage {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.iconLocation{
margin-right: 2px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #3470ff;
  margin-bottom: 32px;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 68px;
}

.titleBlock {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.customList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
 }

.customItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.block {
  margin-bottom: 110px;
}
